.text-center{
  text-align: center
}

.button-mood-1{
  display: inline;
}

.button-mood-1 input{
  background-color: #ffaaaa;
}

.button-mood-2{
  display: inline;
}

.button-mood-2 input{
  background-color: #f5b1a7;
}

.button-mood-3{
  display: inline;
}

.button-mood-3 input{
  background-color: #ebb8a4;
}

.button-mood-4{
  display: inline;
}

.button-mood-4 input{
  background-color: #e1bfa1;
}

.button-mood-5{
  display: inline;
}

.button-mood-5 input{
  background-color: #cdcd9c;
}

.button-mood-6{
  display: inline;
}

.button-mood-6 input{
  background-color: #badc96;
}

.button-mood-7{
  display: inline;
}

.button-mood-7 input{
  background-color: #b0e393;
}

.button-mood-8{
  display: inline;
}

.button-mood-8 input{
  background-color: #a6ea91;
}

.button-mood-9{
  display: inline;
}

.button-mood-9 input{
  background-color: #9cf18e;
}

.button-mood-10{
  display: inline;
}

.button-mood-10 input{
  background-color: #88ff88;
}
